version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      args:
        ENVIRONMENT: ${ENVIRONMENT}
    container_name: frontend
    ports:
      - "3000:3000"
    restart: always

  backend:
    build:
      context: ./backend
      args:
        ENVIRONMENT: ${ENVIRONMENT}
    container_name: backend
    ports:
      - "8080:8080"
    restart: always

  scraper-beautifulsoup:
    build:
      context: ./scraper-beautifulsoup
    container_name: scraper-beautifulsoup
    ports:
      - "8001:8001"
    restart: always
